<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            BHF Inventory
        {% endblock %}
    </title>
    <meta charset="utf-8">

    <!-- To re-enable the responsiveness of the page, add the viewport
    meta tag, remove the non-responsive.css stylesheet, and add responsive
    navbar behavior! -->

    {% block stylesheets %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/non-responsive.css' %}">
    {% endblock %}
</head>
<body>
    {% block navbar %}
        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'home' %}">BHF Inventory</a>
                </div>
                <div id="navbar">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'product_list' %}">Products</a> </li>
                        <li><a href="{% url 'category_list' %}">Categories</a></li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true"
                           aria-expanded="false">Listings<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">BellaHomeFashions</a></li>
                                <li><a href="#">eBay Store</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if request.user.is_authenticated %}
                            <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block scripts %}
        <script src="{% static 'js/jquery-1.11.3.js' %}" ></script>
        <script src="{% static 'js/bootstrap.js' %}" ></script>
    {% endblock %}
</body>
</html>