{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} - Subcategories
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'inventory/css/category_list.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h3>Subcategories</h3>
            <div>
                <a class="btn btn-default" role="button"
                   href="{% url 'new_subcategory' category.id %}"> <span
                      class="glyphicon glyphicon-plus"></span> </a>
            </div>
            <h4>Category: {{ category.name }}</h4>
        </div>
        <div class="row table-head">
            <div class="col-xs-1"><span>Image</span></div>
            <div class="col-xs-11"><span>Subcategory name</span></div>
        </div>
        <hr>
        {% for subcat in subcategory_list %}
            <div class="row">
                <div class="col-xs-1">
                    <img src="{{ subcat.image.first.thumbnail_file.url }}"
                         alt={{ subcat.image.first.image_alt_text }}
                               class="table-thumb"/>
                </div>
                <div class="col-xs-11">
                    <a href="{% url 'edit_subcategory' category.id subcat.id %}"
                       class="inv-table-product">{{ subcat.name }}</a>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {# add scripts specific to this module #}
{% endblock %}
