{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} - Products
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'inventory/css/product_list.css' %}">
{% endblock %}

{% block content %}
    <!--Products - table format-->
    <h3>Products</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Image</th>
            <th>Product name</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for prod_var in product_list %}
            <tr>
            <td>
                <img src="{{ prod_var.image.first.thumbnail_file.url }}"
                     alt={{ prod_var.image.first.image_alt_text }}
                           class="table-thumb"/>
            </td>
            <td>
                <a href="{% url 'edit_product' prod_var.id %}"
                   class="inv-table-product">{{ prod_var.product.name }}</a>
            </td>
            <td>{{ prod_var.status }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    {# add scripts specific to this module #}
{% endblock %}
