{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} - Categories
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'inventory/css/category_list.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h3>Categories</h3>
            <div>
                <a class="btn btn-default" role="button"
                   href="{% url "new_category" %}"> <span
                      class="glyphicon glyphicon-plus"></span> </a>
            </div>
        </div>
        <div class="row table-head">
            <div class="col-xs-1"><span>Image</span></div>
            <div class="col-xs-9"><span>Category name</span></div>
            <div class="col-xs-2"><span>Subcategories</span></div>
        </div>
        <hr>
        {% for category in category_list %}
            <div class="row">
                <div class="col-xs-1">
                    <img src="{{ category.image.first.thumbnail_file.url }}"
                        alt={{ category.image.first.image_alt_text }}
                        class="table-thumb"/>
                </div>
                <div class="col-xs-9">
                    <a href="{% url 'edit_category' category.id %}"
                        class="inv-table-product">{{ category.name }}</a>
                </div>
                <div class="col-xs-2">
                    <a class="btn btn-default" role="button"
                        href="{% url "subcategory_list" category_id=category.id %}">
                        Subcategories ...</a>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {# add scripts specific to this module #}
{% endblock %}
