{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} - New category
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'inventory/css/edit_category.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h3>New category</h3>
        </div>

        <form class="form-horizontal" method="post"
              action="{% url 'new_category' %}">{% csrf_token %}

            <!-- Name - text input -->
            <div class="form-group">
                {% if cat_form.name.errors %}
                    <div class="col-xs-offset-2 col-xs-10">
                        {% for error in cat_form.name.errors %}
                            <p class="text-danger">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <label for="id_name" class="control-label col-xs-2">Name</label>
                <div class="col-xs-10">
                    {{ cat_form.name }}
                </div>
            </div>

            <!-- Description - text area "-->
            <div class="form-group">
                {% if cat_form.description.errors %}
                    <div class="col-xs-offset-2 col-xs-10">
                        {% for error in cat_form.description.errors %}
                            <p class="text-danger">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
               <label for="id_description" class="control-label col-xs-2">
                    Description</label>
                <div class="col-xs-10">
                    {{ cat_form.description }}
                </div>
            </div>

            <!-- Render Description - read-only -->
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="button" id="render" class="btn btn-default">
                        Render
                    </button>
                </div>

                <div class="col-xs-offset-2 col-xs-10">
                    <div class="well output_box" id="output_box">
                        <i>Click the above button to render description here!</i>
                    </div>
                </div>
            </div>

            <!-- Image - select multiple -->
            <div class="form-group">
                {% if cat_form.image.errors %}
                    <div class="col-xs-offset-2 col-xs-10">
                        {% for error in cat_form.image.errors %}
                            <p class="text-danger">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <label for="id_image" class="control-label col-xs-2">
                    Image</label>
                <div class="col-xs-5">
                    {{ cat_form.image }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-2">
                </div>
                {% for img in category.image.all %}
                    {% if forloop.first %}
                        <div class="col-xs-offset-2 col-xs-2">
                    {% else %}
                        <div class="col-xs-2">
                    {% endif %}
                        <a href="#" class="thumbnail">
                            <img src="{{ img.image_file.url }}"></a>
                        </div>
                    {% endfor %}
            </div>
            <!-- Submit button -->
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="save btn btn-default">Save
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript"
            src="{% static 'inventory/js/edit_category.js' %}"></script>
{% endblock %}
