.table-thumb {
    width: 50px;
    max-width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 2px;
}

.output_box {
    margin-top: 15px;
    margin-bottom: 0;
    padding: 6px 12px;
    height: auto;
    overflow: visible;
}
